*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul.nav-list .nav-item a{
    text-decoration: none;
    color: black;
}

.nav-logo{
    width: 100px;
}

.nav-item{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.nav div{
    display: inline-block;
}

.nav{
    display: flex;
    align-items: center; 
}

.logo{
    margin-left: 100px;
}

.list{
    margin-right: 100px;
    margin-left: 65%;
}

#navbar{
    background-color: aqua;
    padding-top: 15px;
    padding-bottom: 15px;
}   

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .list{
        display: none !important;
    }

    .logo{
        margin-left: 10px;
    }

    .logo img{
        width: 80px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .list{
        display: none !important;
    }

    .logo{
        margin-left: 20px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .logo{
        margin-left: 100px;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .list{
        display: block !important;
        margin-left: 48%;
    }

    .logo{
        margin-left: 100px;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .list{
        margin-left: 55%;
    }
 } 