*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: rebeccapurple;
}

/*Color :
White : #e4f9f5
Turtoise : #30e3ca
Tosca : #11999e
Dark : #40514e

/* Navbar */

#navbar{
    background-color: transparent;
    clear:both;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 9999999;
    transition: ease-in-out .3s;
}

.nav{
    float: right;
    padding: 0;
    margin-left: auto;
}

.nav ul{
    height: 100%;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    display: inline-block;
}

.nav-logo{
    float: left;
}

.nav ul .nav-item{
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    transition: ease-in-out .3s;
}

.nav ul .nav-item:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-item-active{
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    transition: ease-in-out .3s;
}

.nav-item-active:hover{
    background-color: white;
    color: #388e3c;
}

.nav ul .nav-item a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: ease-in-out .3s;
}

/* End navbar */

.logo{
    margin-left: 100px;
}

.list{
    margin-right: 100px;
    margin-left: 65%;
}

.btn-hide, .btn-show{
    border: none;
    background-color: transparent;
    display: none;
    font-size: 24px;
    line-height: 1;
    margin-left: 73%;
    z-index: 99999;
}

.btn-show{
    color: rgb(255, 255, 255);
}

#bdy{
    margin-top: 3%;
    margin-right: 7%;
    margin-left: 7%;
}

#list-mobile{
    position: absolute;
    right: -25%;
    font-size: 26px;
    padding-right: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    z-index: 0;
    background-color: white;
    opacity: 0;
    top: 0;
    transition: ease-in-out .5s;
}

#list-mobile a{
    text-decoration: none;
    color: black;
}

#list-mobile li{
    list-style-type: none;
}

#section1{
    height: 100vh;
    background-image: url(../images/header-bgblk.jpg);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section1 #header-title{
    color: white;
    margin-top: 300px;
}

#section1 .button-more{
    margin-top: 200px;
    opacity: 0;
}

#section1 .button-more #btn-more{
    text-decoration: none;
    border: 3px solid white;
    color: white;
    padding: 10px 15px 10px 15px;
    transition: ease-in-out .5s;
}

#section1 .button-more #btn-more:hover{
    color: grey;
    background-color: white;
    border: 3px solid grey;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .list{
        display: none !important;
    }

    .logo{
        margin-left: 20px;
    }

    .logo img{
        width: 80px;
    }

    .btn-show{
        display: block;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .list{
        display: none !important;
    }

    .logo{
        margin-left: 30px;
    }

    .btn-show{
        display: block;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .logo{
        margin-left: 50px;
    }

    .btn-show{
        display: block;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .list{
        display: block !important;
        margin-left: 48%;
    }

    .logo{
        margin-left: 100px;
    }

    .btn-show{
        display: none;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .list{
        margin-left: 48%;
    }
 } 