*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: rebeccapurple;
}

nav .nav-list .nav-item a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    transition: ease-in-out .3s;
}

nav .nav-list .nav-item a:hover{
    background: rgba(0, 0, 0, .4);
}
.nav-list{
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-logo{
    width: 100px;
}

.nav-item{
    list-style-type: none;
    display: inline;
}

.nav{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 100px;
}

.list{
    margin-right: 100px;
    margin-left: 65%;
}

#navbar{
    /* background-color:rgba(0, 0, 0, 0.8); */
    background-color: transparent;
    width: 100%;
    position: fixed;
    transition: ease-in-out .3s;
    z-index: 999999;
}

.btn-hide, .btn-show{
    border: none;
    background-color: transparent;
    display: none;
    font-size: 24px;
    line-height: 1;
    margin-left: 73%;
    z-index: 99999;
}

.btn-show{
    color: rgb(255, 255, 255);
}

#list-mobile{
    position: absolute;
    right: -25%;
    font-size: 26px;
    padding-right: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    z-index: 0;
    background-color: white;
    opacity: 0;
    top: 0;
    transition: ease-in-out .5s;
}

#list-mobile a{
    text-decoration: none;
    color: black;
}

#list-mobile li{
    list-style-type: none;
}

#section1{
    height: 100vh;
    background-image: url(../images/header-bgblk.jpg);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section1 #header-title{
    color: white;
    margin-top: 300px;
}

#section1 .button-more{
    margin-top: 200px;
    opacity: 0;
}

#section1 .button-more #btn-more{
    text-decoration: none;
    border: 3px solid white;
    color: white;
    padding: 10px 15px 10px 15px;
    transition: ease-in-out .5s;
}

#section1 .button-more #btn-more:hover{
    color: grey;
    background-color: white;
    border: 3px solid grey;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .list{
        display: none !important;
    }

    .logo{
        margin-left: 20px;
    }

    .logo img{
        width: 80px;
    }

    .btn-show{
        display: block;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .list{
        display: none !important;
    }

    .logo{
        margin-left: 30px;
    }

    .btn-show{
        display: block;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .logo{
        margin-left: 50px;
    }

    .btn-show{
        display: block;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .list{
        display: block !important;
        margin-left: 48%;
    }

    .logo{
        margin-left: 100px;
    }

    .btn-show{
        display: none;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .list{
        margin-left: 48%;
    }
 } 